In [1]:
# dict
salaries = {
    'John' : 2_000,
    'Ken': 3_000,
    'Joe' : 4_000,
    'Jack' : 5_000
}

In [2]:
salaries['John']

2000

In [15]:
del(salaries['Nick'])
salaries

{'Ken': 3000, 'Joe': 4000, 'Jack': 5000}

In [16]:
salaries['Nick'] = 2_000
salaries

{'Ken': 3000, 'Joe': 4000, 'Jack': 5000, 'Nick': 2000}

In [17]:
salaries.get('Nick', 'Not found')

2000

In [18]:
salaries['Nick'] += 3_000
salaries

{'Ken': 3000, 'Joe': 4000, 'Jack': 5000, 'Nick': 5000}

In [19]:
recruit = 'Amanda'
if recruit in salaries:
    pass
elif recruit not in salaries:
    salaries[recruit] = 3_300

print(salaries)

{'Ken': 3000, 'Joe': 4000, 'Jack': 5000, 'Nick': 5000, 'Amanda': 3300}

In [21]:
salaries.setdefault('Paul', 3_000)
salaries

{'Ken': 3000,
 'Joe': 4000,
 'Jack': 5000,
 'Nick': 5000,
 'Amanda': 3300,
 'Paul': 3000}

In [22]:
# hard dict
staff_dict = {
    'Alex' : {'salary' : 800, 'bonus': 200},
    'Andrew' : {'salary' : 700, 'bonus': 300},
    'Marcus' : {'salary' : 600, 'bonus': 400},
    'Sitara' : {'salary' : 1100, 'bonus': 900}
}

In [24]:
staff_dict['Andrew']['bonus']

300

In [27]:
staff_dict['Jan'] = {'salary' : 1000, 'bonus' : 200}
staff_dict['Jan']['salary']

1000

In [31]:
print(staff_dict.keys(), '\n')
print(staff_dict.values(), '\n')
print(staff_dict.items(), '\n')

dict_keys(['Alex', 'Andrew', 'Marcus', 'Siera', 'Jan'])

dict_values([{'salary': 800, 'bonus': 200}, {'salary': 700, 'bonus': 300}, {'salary': 600, 'bonus': 400}, {'salary': 1100, 'bonus': 900}, {'salary': 1000, 'bonus': 200}])

dict_items([('Alex', {'salary': 800, 'bonus': 200}), ('Andrew', {'salary': 700, 'bonus': 300}), ('Marcus', {'salary': 600, 'bonus': 400}), ('Siera', {'salary': 1100, 'bonus': 900}), ('Jan', {'salary': 1000, 'bonus': 200})])

In [32]:
for person in staff_dict.keys():
    print(person)

Alex
Andrew
Marcus
Siera
Jan

In [33]:
for value in staff_dict.values():
    print(value)

{'salary': 800, 'bonus': 200}
{'salary': 700, 'bonus': 300}
{'salary': 600, 'bonus': 400}
{'salary': 1100, 'bonus': 900}
{'salary': 1000, 'bonus': 200}

In [44]:
for value in staff_dict.values():
    for salary, bonus in value.items():
        print(salary, bonus)

salary 800
bonus 200
salary 700
bonus 300
salary 600
bonus 400
salary 1100
bonus 900
salary 1000
bonus 200