## 1. Простые типы данных

In [ ]:
my_integer = 10
type(my_integer)

In [ ]:
my_float = 10.5
type(my_float)

In [ ]:
type(5)

In [ ]:
my_string = 'Hello World'
my_string_2 = "Hello World!"
type(my_string) is type(my_string_2) # str

In [ ]:
my_bool = True
my_bool_2 = False
type(my_bool) is type(my_bool_2) # bool

In [ ]:
x = 5; y = 1
print(type(x > y))
(x>y) is my_bool

In [ ]:
var = None
type(var)

# 2. Преобразование типов

In [ ]:
salary = 1_000
print('Your salary is', salary, 'y.e')

In [ ]:
type(str(salary))

In [ ]:
print('Your salary is ' + str(salary) + ' y.e')

In [ ]:
int('1_000') + 100

In [ ]:
print(1 + False)
print(20 / 5.1)
# Неявное преобразование типов

In [ ]:
(not None) is True

In [ ]:
if not None: print(123)

# 3. Циклы while, for

# While - итерационный цикл
# For - счётный цикл

In [ ]:
x = 5
while x != 0:
    x -= 1
    print(x)

print("Цикл завершил все итерации")

In [ ]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- чётное число')
    else:
        print(x, '- нечётное число')
    x -= 1

In [ ]:
# Итерация по строкам
company_name = 'Orange'
for letter in company_name:
    print(letter)
    letter = letter.capitalize() 
    # Метод .capitalize() в Python возвращает копию строки, в которой первый символ преобразован в заглавный (верхний регистр),
    # а все остальные символы — в строчные (нижний регистр).
    # В данном случае он возвращает все символы строки заглавными, т.к считает их за новые строки
    print(letter)
print(letter)

In [ ]:
companies_capitalization = [
    'Amazon',
    'Microsoft',
    'Mojang',
    'Electronic Arts'
]


for company in companies_capitalization:
    #print(company)
    print(company[0], 'capitalization is', company[1])
    print('end of iteration')

In [ ]:
# break, pass, continue
phrase = '640кБ должно хватить для любых задач. Билл Гейтс (по легенде)'

In [ ]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

In [ ]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter, end='')
print('\nfinish loop')

In [ ]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter, end= '')
print('\nfinish loop')

In [ ]:
# Функции range и enumerate

In [ ]:
range(10)

In [ ]:
type(range(10))

In [ ]:
x = 0; y = 100; z = 5
list(range(x, y, z)) # x - начальное число (начало); y - конечное число (конец) z - размер шага

In [ ]:
range(10**12)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(x, y, z):
    print(i)

In [ ]:
# enumerate - позволяет получить индекс каждого элемента в списке
enumerate([1, 2, 3, 4, 5])
list(enumerate([1, 2, 3, 4, 5]))

In [ ]:
companies_capitalization = [
    ['Orange', 1.3],
    ['Microsoft', 1.5],
    ['FaceBook', 0.8],
    ['Amazon', 2.2]
]
for i, company in enumerate(companies_capitalization):
    print(i+1, company[0], 'capitalization is', company[1])

In [ ]:
for i, company in enumerate(companies_capitalization):
    print(company)

    if i >= 2: # i - номер в списке (индекс)
        break

In [ ]:
cook_book = [
  ['салат',
      [
        ['картофель', 100, 'г'],
        ['морковь', 50, 'г'],
        ['огурцы', 50, 'г'],
        ['горошек', 30, 'г'],
        ['майонез', 70, 'мл'],
      ]
  ],
  ['пицца',
      [
        ['сыр', 50, 'г'],
        ['томаты', 50, 'г'],
        ['тесто', 100, 'г'],
        ['бекон', 30, 'г'],
        ['колбаса', 30, 'г'],
        ['грибы', 20, 'г'],
      ],
  ],
  ['фруктовый десерт',
      [
        ['хурма', 60, 'г'],
        ['киви', 60, 'г'],
        ['творог', 60, 'г'],
        ['сахар', 10, 'г'],
        ['мёд', 50, 'мл'],
      ]
  ]
]

In [ ]:
person = 5
print(cook_book[0][1])

In [ ]:
for item in cook_book:
    print(item[0].capitalize() + ':')
    
    for line in item[1]:
        meal, weight, gr = line
        weight = weight * person

        print(' ' + meal, weight, gr)

    print('')

In [ ]:
enumerate(cook_book)

for item in cook_book:
    print(item[0].capitalize() + ':')
    for elem in item[1]:
        meal = elem[0]
        weight = elem[1]
        gr = elem[2]
        weight = weight * person
        print(" ", meal, weight, gr)